.InputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    width: 100%;

    background-color: #303030;
    border-radius: 15px;

    padding: 1em;
    margin: 0.5em;
}

.InputNumber {
    max-width: 70px;
    margin: 0.5em 0.5em;
}

.InputContainer span {
    width: max-content;
}