.Entity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
}

.Entity img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.player {
    /*background: black;*/
}

.goal {
    /*background: green;*/
}

.column {
    /*background: purple;*/
}

.verticalWall {
    /*background: black;*/
}

.horizontalWall {
    /*background: black;*/
}

.trail {
    /*background: yellow;*/
}

