.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: max-content;
}

.Result {
    padding: 2em;

    background-color: #FFFFFF;
    border-radius: 10px;
    color: black;
    text-transform: uppercase;
}

.Title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.Subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}