.ContainerSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    width: 100%;
    margin: 0.5em;
    padding: 1em;

    background-color: #303030;
    border-radius: 15px;
}

.Select {
    min-width: 70px;
    max-width: 150px;
    margin: 0.5em 0.5em;
}