.MazeContainer {
    display: grid;

    width: min(90%, 1000px);
    height: min(90%, 1000px);

    overflow-x: scroll;
    overflow-y: scroll;

    padding: 3em;

    border: 4px #dea909 solid;
    background-color: transparent;
    border-radius: 15px;

}